/* .max-width{
    max-width: 960px;
  } */
  .summary-row{
    display: flex;
    flex-wrap: wrap;
    /* margin-right: -15px; */
    /* margin-left: -15px; */
    justify-content: space-between;
  }
  .filter-section{
    min-width: 220px;
    max-width: 202px;
    margin-right: 25px;
    padding: 20px;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
  }
  .table-section{
flex-grow: 4;
  }