.App {
  text-align: center;
  color: #000;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* code by neha yalala */
.content{
  /* background-image: url("./images/background_image.jpg"); */
  height: 100%;
  display: block;
  background-size: cover; 
  min-height: 100vh;
  /* padding: 20px; */
}
.content-tab{
  /* background-image: url("./images/background_image.jpg"); */
  background: #B11F24 linear-gradient(to bottom, #B11F24, #331C0D);
}

*{
  margin: 0;
padding: 0;
}
body{
  font-family: Montserrat,sans-serif !important;
}
.react-bootstrap-table table{

  table-layout: auto !important;
}
.cursor-pointer{
  cursor: pointer;
}
.footer{
  background:#B11F24 linear-gradient(to bottom, #B11F24, #331C0D);
  padding: 0px 0 0px;
 
}
.footer.text-secondary{
  color: #fff !important;
  font-size: 0.8em;
}
.table-section>div{
  font-weight: 700;
  font-size: 1em;
}
.table-section .border-warning {
  border-color: #b11f24!important;
}
.table-section>div>span{
  font-size: 1.2em;
  font-weight: bolder;
}
.spinner{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.5);
  overflow-x: hidden;
  transition: 0.5s;
}
.spinner>div{
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.spinner svg{
  fill: #b11f24!important;
}
